.project-container{
	width: 100%;
	margin-top: 100px;
	background-color: rgb(138,114,198);
	box-sizing: border-box;
	height: fit-content;
}

.project-container .project-inner-container{
	padding: 10px;
	margin: 50px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project-inner-container h1{
	font-size: 3.5rem;
	margin: 50px 0px 0px 0px;
	background: linear-gradient(to right, rgb(255,252,207),rgba(255,252,207,0.5));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.project-inner-container p{
	font-size: 1.2rem;
	color: rgb(253, 253, 249);
	width: 700px;
	text-align: center;
}

.project-inner-container .project-section{
	width: 100%;
	margin: 30px 4vw 0px 4vw;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	gap: 20px;
}

.project-section .project-content{
	width: 100%;
	max-height: 200px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: max-height 0.6s ease, box-shadow 0.4s ease, transform 0.3s ease;
	opacity: 0.5;
}

.project-section .project-content:hover,.project-card.expanded{
	max-height: 1000px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	transform: scale(1.03);
	margin-bottom: 10px; 
	opacity: 1;
}

.project-content .new{
	position: absolute;
	width: fit-content;
	text-align: left;
	top: -12px;
	right: 3px;
	background-color: #fff;
	border-radius: 10px;
	color: black;
	font-weight: bold;
	padding: 5px;
	font-size: 0.8rem;
	/* animation: glow 1.5s ease-in-out infinite alternate; */
}


@keyframes glow {
  from {
    box-shadow: 0 0 5px rgb(255,252,207), 0 0 10px rgb(255,252,207), 0 0 15px rgb(255,252,207);
  }
  to {
    box-shadow: 0 0 10px rgb(255, 251, 195), 0 0 20px rgb(255, 251, 195), 0 0 30px rgb(255, 251, 195);
  }
}

.project-content img{
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.project-content .project-description{
	/* position: absolute; */
	bottom: 0px;
	width: 100%;
	height: fit-content;
	padding: 5px;
	background-color: rgb(253, 253, 249);
	box-sizing: border-box;
	color: rgb(253, 253, 249);
	border-radius: 10px;
}

.project-content .project-description p{
	width: 100%;
	text-align: left;
	color: rgb(138,114,198);
}

.project-content .project-description h3{
	margin:5px 0px 10px 0px;
	color: rgb(138,114,198);
}

.project-description h4{
	margin: 0px 0px 10px 0px;
}

.project-description a{
	margin-top: 0px;
	color: #fff;
	text-decoration: none;
	width: fit-content;
	padding: 5px;
	border-radius: 5px;
	background-color: black;
}

.project-description a span{
	margin-left: 5px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: rgb(253, 253, 249);
  animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.7;
  }
  to {
    transform: translateY(-10px);
    opacity: 1;
  }
}

@media (max-width:768px){
	.project-inner-container h1{
		font-size: 2.5rem;
	}

}